<!-- Section Title -->
<div class="section-heading">
    {% set caption = 'menu.'~type~'.label' %}
    <h5> {{ caption|trans }} by Category</h5>
</div>

<!-- Catagory Widget -->
<ul class="catagory-widgets">
    {% for category in categories %}
        {% if app.user %}
            {% if app.user.country == category.country or category.description|length > 2 %}
                <li>
                    <a href="{{ path("category_type", {"id": category.id, "slug": category.slug, "type": type}) }}">
                        <span><i class="m-5 flag-icon flag-icon-{{ category.country|length == 2 ? category.country|lower : "un" }}"></i>{{ category.name }}</span>
                        <span>{{ category.count_initiative }}</span>
                    </a>
                </li>
            {% endif %}
        {% else %}
            {% if category.description|length > 2 %}
                <li>
                    <a href="{{ path("category_type", {"id": category.id, "slug": category.slug, "type": type}) }}">
                        <span><i class="m-5 flag-icon flag-icon-{{ category.country|length == 2 ? category.country|lower : "un" }}"></i>{{ category.name }}</span>
                        <span>{{ category.count_initiative }}</span>
                    </a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
