<!-- Section Title -->
<div class="section-heading">
    <h5>Last Logins</h5>
</div>

<div class="single-blog-post d-flex">

    <div class="post-content w-100">
        {% for user in users %}
        <div class="post-meta d-flex">
                <div class="p-2"><img src=" {{ path('user_profile_avatar', {'id': user.id}) }}" alt="user avatar" class="small-user-avatar" /></div>
                <div class="p-2"><a href="{{ path('user_profile_show', { 'id': user.id}) }}" title="{{ user.username }}">{{ user.username|truncate(12) }}</a></div>
                <div class="ml-auto p-2"> {{ user.lastLogin|time_diff }}</div>
        </div>
        {% endfor %}
    </div>
</div>

