<!-- Section Title -->
<div class="section-heading">
    <h5>Program Categories</h5>
</div>

<!-- Catagory Widget -->
<ul class="catagory-widgets">
    {% for category in categories %}
        {% if app.user %}
            {% if category.name == app.user.country %}
                <li><a href="{{ path("category_type", {"id": category.id, "slug": category.slug, "type": "program"}) }}"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ category.name }}</span><span>{{ category.count_initiative }}</span></a></li>
            {% endif %}
        {% endif %}
        {% if category.name not in countries %}
                <li><a href="{{ path("category_type", {"id": category.id, "slug": category.slug, "type": "program"}) }}"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ category.name }}</span><span>{{ category.count_initiative }}</span></a></li>
        {% endif %}
    {% endfor %}
</ul>
