

{% extends "base.html.twig" %}

{% block body %}

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url('https://via.placeholder.com/1920x850');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>New Initiative</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <div class="mag-login-area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="login-content bg-white p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>New Initiative!</h5>
                        </div>

                        {{ form_start(form) }}


                        {{ form_row(form.message) }}



                        <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Login Area End ##### -->
    </div>
{% endblock body %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

