{% extends "base.html.twig" %}

{% block body %}

    {{ include ('Widget/_breadcrumb.html.twig', {title: 'Delegations', background: asset('assets/img/header/delegation_large.jpg')}, with_context = false) }}

    {{ apy_breadcrumb_trail_render() }}

    {{ include ('Widget/_flashes.html.twig', {flashes: app.flashes}, with_context = false) }}

<div class="wpe-content-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content bg-white mb-30 p-30 box-shadow">
                    
                    <p>
                    Delegate Your Voting Rights to Representatives of Your Choice
                    </p>
                    <p>
                    You can only delegate voting rights to people in your network of <a href="{{ path("user_friends"}}">friends</a>.
                    </p>
                    <p>
                    Find friends in the <a href="{{ path("general_assembly"}}">assembly</a>.
                    </p>
                    <p>
                    You can take back your voting rights anytime and start voting again yourself.
                    </p>
                    <br />
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h5>Global Delegation:</h5>
                    </div>

                    {{ form_start(form) }}
                    <div class="form-row">
                        <div class="col-sm-8">
                            {{ form_widget(form.truster) }}
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success" formnovalidate><i class="fas fa-check"></i>
                            </button>
                        </div>
                        <div class="col-sm-2">
                            <a href="{{ path("user_delegate_unset", {"id":0}) }}" role="button"
                               class="btn btn-danger unsetBtn"><i class="fas fa-times"></i> </a>
                        </div>
                    </div>
                    {{ form_end(form) }}
                    <br/>
                    <div class="section-heading">
                        <h5>Delegation by Category:</h5>
                    </div>
                    {% for categoryForm in categoryForms %}
                        {{ form_start(categoryForm) }}
                        <div class="form-row">
                            <div class="col-sm-12">
                                <label>{{ categoryForm.vars.value.category.name }}</label>
                            </div>
                            <div class="col-sm-8">
                                {{ form_widget(categoryForm.truster) }}
                            </div>
                            <div class="col-sm-2">
                                <button type="submit" class="btn btn-success" formnovalidate><i
                                            class="fas fa-check"></i></button>
                            </div>
                            <div class="col-sm-2">
                                <a href="{{ path("user_delegate_unset", {"id":categoryForm.vars.value.category.id}) }}"
                                   role="button" class="btn btn-danger unsetBtn"><i class="fas fa-times"></i> </a>
                            </div>
                        </div>
                        {{ form_end(categoryForm) }}
                        <br/>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
    <!-- ##### Delegation Area End ##### -->

{% endblock body %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            $('.js-datepicker').datepicker({
                format: 'mm-dd-yyyy'
            });
            $("form").bind("submit", function (event) {
                var form = this;
                var button = $(form).find(".btn-success");
                var icon = $(button).find("svg");
                $(icon).removeClass("fa-check");
                $(icon).addClass("fa-spinner");
                $(icon).addClass("fa-spin");
                $.ajax({
                    url: $(form).attr("action"),
                    data: $(form).serialize(),
                    method: "POST",
                }).then(function (data) {
                    icon = icon = $(button).find("svg");
                    $(icon).removeClass("fa-spinner");
                    $(icon).removeClass("fa-spin");
                    $(icon).addClass("fa-check");
                }).catch(function (data) {
                    icon = icon = $(button).find("svg");
                    $(icon).removeClass("fa-spinner");
                    $(icon).removeClass("fa-spin");
                    $(icon).addClass("fa-check");
                    alert("Aktion fehlgeschlagen!");
                    console.log(data);
                });
                return false;
            });
            $(".unsetBtn").bind("click", function () {
                var button = this;
                var icon = $(button).find("svg");
                $(icon).removeClass("fa-times");
                $(icon).addClass("fa-spinner");
                $(icon).addClass("fa-spin");
                $.ajax({
                    url: $(button).attr("href")
                }).then(function (data) {
                    console.log("unset finished");
                    icon = $(button).find("svg");
                    $(icon).removeClass("fa-spinner");
                    $(icon).removeClass("fa-spin");
                    $(icon).addClass("fa-times");
                    $(button).parents("div.form-row").first().find("select").val("");
                }).catch(function (data) {
                    icon = $(button).find("svg");
                    $(icon).removeClass("fa-spinner");
                    $(icon).removeClass("fa-spin");
                    $(icon).addClass("fa-times");
                    alert("Aktion fehlgeschlagen!");
                    console.log(data);
                });
                return false;
            });
        })
    </script>
</div>

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

