{% extends "base.html.twig" %}

{% block body %}

	{{ include ('Widget/_breadcrumb.html.twig', {title: 'Verification', background: asset('assets/img/header/register_large.jpg')}, with_context = false) }}

	{{ include ('Widget/_flashes-danger.html.twig', {flashes: app.flashes}, with_context = false) }}

	<!-- ##### Breadcrumb Area End ##### -->

	{#{% if isset error %}#}
	{#<div class="mag-error-area pt-5">#}
	{#<div class="container">#}
	{#<div class="row justify-content-center">#}
	{#<div class="col-12 col-lg-6">#}
	{#<div class="error-content bg-danger p-30 box-shadow">#}
	{#{{ error.messageKey|trans(error.messageData, 'security') }}#}
	{#</div>#}
	{#</div>#}
	{#</div>#}
	{#</div>#}
	{#</div>#}
	{#{% endif %}#}

	<!-- ##### register Area Start ##### -->
	<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false" data-delay="500">
		<div class="toast-body">
			Otp send successfully..
		</div>
	</div>
		<div class="wpe-content-area py-5"> <div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-8">
					<div
						class="register-content form-submit-content bg-white p-30 box-shadow">
						<!-- Section Title -->
						<div class="section-heading">
							<h5>Verify your number!</h5>
						</div>

						{% trans_default_domain 'FOSUserBundle' %}
						<form action="{{ path('app_otp_getotp') }}" autocomplete="off" id="submitPhoneNumber">
							<div class="row">
								<div class="col-6">
									{{ form_row(form.mobileNumber) }}
								</div>
								<div class="col-6">
									<div class="row mt-4">
										<div class="col-3">
											<div class="login-buttons">
												<button type="button" id="changeNumber" name="submit" class="btn btn-success">
													<span id="changeNumberBtn">Change</span>
												</button>
											</div>
										</div>
										<div class="col-3">
											<div class="login-buttons">
												<button type="submit"  name="submit" class="btn btn-success">
													<span>Send</span>
												</button>
											</div>
										</div>
									</div>
								</div>

							</div>
						</form>
						{{ form_start(form, { 'action': path('app_otp_verify_otp'), 'attr': { 'class': 'fos_user_resetting_reset margin-bottom-0'} }) }}
						<div class="row">
							<div class="col-6">
								<div class="form-group">
									{{ form_row(form.otp) }}
								</div>
							</div>
							<div class="col-6">
								<div class="login-buttons mt-4">
									<button type="submit" id="submitOtpVerify" name="submit" class="btn btn-success">{{ 'verification.verify.send' |trans }}</button>
								</div>
							</div>
						</div>

						{{ form_end(form) }}
						<div class="text-center" id="timerDiv">
							<span>Resend otp after
							</span>
							<span id="timer"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ##### Login Area End ##### -->
{% endblock body %}
