{% extends "base.html.twig" %}

{% block body %}

    {{ include ('Widget/_breadcrumb.html.twig', {title: type|capitalize, background: asset("assets/img/header/" ~ type ~ "_large.jpg")}, with_context = false) }}

    {{ apy_breadcrumb_trail_render() }}

    {{ include ('Widget/_flashes.html.twig', {flashes: app.flashes}, with_context = false) }}

    <div class="wpe-content-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="default-content bg-white mb-30 p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>{{ type|capitalize }}</h5>
                        </div>

                        <table class="table table-categories table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>Category</th>
                                <th># Initiatives</th>
                                <th>Last Entry</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td><a href="{{ path('category_type', { 'id': category.id, 'slug': category.slug, 'type': type}) }}">{{ category.name }}</a></td>
                                    <td>{{ category.count_initiative }} total</td>
                                    <td>{{ category.last_initiative is empty ? "" : category.last_initiative|date('d.m.Y H:i') }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>

                            <tfoot>
                            <tr>
                                <th>Category</th>
                                <th># Initiatives</th>
                                <th>Last Entry</th>
                            </tr>
                            </tfoot>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- ##### Login Area End ##### -->

{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/DataTables/datatables.min.css') }}"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/plugins/DataTables/datatables.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('.table-categories').DataTable({
                autoWidth: true,
                "searching": false,
                "ordering": false,
                "paging": false,
                "info": false,
                "order": [[0, "asc"]],
                "columns": [
                    null,
                    { "width": "15%", "className": "text-center" },
                    { "width": "15%" },
                ]

            });
        });
    </script>
{% endblock %}