{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">

            {{ panel_start('group.header.edit'|trans) }}

            {{ form_start(form) }}

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}

            <button type="submit" class="btn btn-primary" formnovalidate><i class="fa fa-save"></i> {{ 'group.button.save'|trans }} </button>
            {{ form_end(form) }}

            {{ panel_end() }}

        </div>
    </div>

{% endblock %}
