{% extends 'base.html.twig' %}

{% block body %}

    <!-- ##### Hero Area Start ##### -->

    {{ include ('/Widget/hero.html.twig', {votes: top}, with_context = false) }}

    <!-- ##### Hero Area End ##### -->

    <!-- ##### Mag Posts Area Start ##### -->
    <section class="mag-posts-area d-flex flex-wrap">

        <!-- >>>>>>>>>>>>>>>>>>>>
         Post Left Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <div class="post-sidebar-area left-sidebar m-t-30 m-b-30 bg-white box-shadow">
            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
                {{ render(controller('AppBundle:Widget:MostPopular')) }}
            </div>
{#            <div class="single-sidebar-widget p-30">#}
{#                {{ render(controller('AppBundle:Widget:MostCommentedInitiatives')) }}#}
{#            </div>#}
            <div class="single-sidebar-widget p-30">
                {{ render(controller('AppBundle:Widget:MostViews')) }}
            </div>
            <div class="single-sidebar-widget p-30">
                {{ render(controller('AppBundle:Widget:MostComments')) }}
            </div>
            <div class="single-sidebar-widget p-30">
                {{ render(controller('AppBundle:Widget:mostDelegations')) }}
            </div>
            <div class="single-sidebar-widget p-30">
                {{ render(controller('AppBundle:Widget:MostInitiatives')) }}
            </div>


        </div>

        <!-- >>>>>>>>>>>>>>>>>>>>
             Main Posts Area
        <<<<<<<<<<<<<<<<<<<<< -->

        <div class="mag-posts-content m-t-30 m-b-30 p-30 box-shadow">

            <div class="trending-now-posts m-b-30">
                <div class="section-heading">
                    <h5>CURRENT VOTES</h5>
                </div>

                <div class="trending-post-slides owl-carousel">
                    {% include ('/Widget/trendingc.html.twig') %}
                </div>
            </div>
            <div class="trending-now-posts m-b-30">
                <div class="section-heading">
                    <h5>FUTURE VOTES</h5>
                </div>

                <div class="trending-post-slides owl-carousel">
                    {% include ('/Widget/trendingf.html.twig') %}
                </div>
            </div>
            <!-- Feature Video Posts Area -->
            <div class="feature-video-posts m-b-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>A World Parliament is possible, if YOU join it!</h5>
                </div>

                <p>Join the Beta Version <a href="{{ path("fos_user_registration_register") }}"> here </a></p>

                <div class="row mb-15">
                    <div class="col-12 col-lg-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube-nocookie.com/embed/8rm8JEdwJpY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>

                <p>We believe that another world is possible. But what does this new world look like? The World Parliament Experiment (WPE) is not just against the current world order, it is a positive vision of a fully democratic world, in which everybody will take part and have a say.</p>

                <p><b>This is why the WPE is YOUR democracy. It is your forum to vote, to elect, to express your opinions, and be elected as a representative!</b></p>

                <p>The WPE is the internet platform for political discussions. Besides elections, the forum allows you to debate, discuss and share your views in a truly international environment!</p>
                <p>The WPE results will be introduced into the international political process as claims to decisions-makers. Therefore, the WPE wants to be a real political factor. The more people participate, the more powerful the WPE will become.</p>

                <blockquote>
                    <h6 class="quote-text">“It is rather for us to be here dedicated to the great task remaining before us [...] that government of the people, by the people, for the people, shall not perish from the earth.”</h6>
                    <h6 class="quote-name">ABRAHAM LINCOLN</h6>
                </blockquote>

                <p><b>Imagine the opportunities of such a global forum! Imagine the combined power of all its participants! Imagine a real World Parliament!</b></p>

                <p>Your World Parliament Experiment Team</p>

                <div class="section-heading">
                    <h5>Further Information</h5>
                </div>

                <p>
                    For more information on desirability and potential of this project please see the Essay
                    <a href="https://www.democracywithoutborders.org/files/DWBDPRT2018.pdf">United Humans: Internet voting for a world parliament and a new world organization</a>
                </p>

                <p>if you want to collaborate or discuss about the future of WPE go to our <a href="http://worldparliament.a.wiki-site.com/index.php/Main_Page" target="_blank">Wiki page</a>.</p>

                <br />

                <div class="media my-10 w-75">
                    <div class="media-body">
                        <p>The World Parliament Experiment is supported by <a href="https://www.democracywithoutborders.org/" target="_blank">Democracy Without Borders</a> and one of its main initiatives as a
                            <a href="https://www.democracywithoutborders.org/gdve-it/" target="_blank">Global Voting Platform</a>.</p>
                    </div>
                    <img src="{{ asset('assets/img/dwb_logo.png') }}" alt="Logo Democracy Without Borders" class="w-25 m-l-10" />
                </div>

                <div class="media my-10 w-75">
                    <div class="media-body">
                        <p>This project is organized by the <a href="http://www.world-parliament.org/" target="_blank">World Parliament Experiment e.V.</a></p>
                    </div>
                    <img src="{{ asset('assets/img/logo.png') }}" alt="Logo World Parliament Experiment e.V." class="w-25 m-l-10" />
                </div>

            </div>

        </div>

        <!-- >>>>>>>>>>>>>>>>>>>>
        Post Right Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->

        <div class="post-sidebar-area right-sidebar m-t-30 m-b-30 box-shadow">
            <div class="single-sidebar-widget p-30">
                {{ render(controller('AppBundle:Widget:programCategories')) }}
            </div>
            <div class="single-sidebar-widget p-30">
                {{ render(controller('AppBundle:Widget:mostCitizensByCountry')) }}
            </div>
            <div class="single-sidebar-widget p-30">
                {{ render(controller('AppBundle:Widget:lastLogins')) }}
            </div>
            <div class="single-sidebar-widget p-30">
                {{ render(controller('AppBundle:Widget:lastRegistrations')) }}
            </div>

        </div>

    </section>
    <!-- ##### Mag Posts Area End ##### -->

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
