{% extends 'base.html.twig' %}

{% block body %}

    {{ include ('Widget/_breadcrumb.html.twig', {title: 'Legal Notice', background: asset('assets/img/header/generalassembly_large.jpg')}, with_context = false) }}

    {{ apy_breadcrumb_trail_render() }}

    {{ include ('Widget/_flashes.html.twig', {flashes: app.flashes}, with_context = false) }}

    <div class="wpe-content-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="default-content bg-white mb-30 p-30 box-shadow">
                    <!-- Section Title -->

                    <div class="section-heading">
                        <h5>Legal Notice</h5>
                    </div>

                    <div class="contact-information mb-30">

                        <div class="single-contact-info d-flex align-items-center">
                            <div class="icon mr-15">
                                <i class="fa fa-landmark" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <p>Legal notice:</p>
                                <h6>Information according to  § 5 TMG in Germany</h6>
                                <h6>Responsible according to § 55 Abs. 2 RStV in Germany</h6>
                            </div>
                        </div>

                        <div class="single-contact-info d-flex align-items-center">
                            <div class="icon mr-15">
                                <i class="fas fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <p>Address:</p>
                                <h6>World Parliament Experiment e. V.</h6>
                                <h6>c/o Tenbergen</h6>
                                <h6>Friedbergstraße 25</h6>
                                <h6>D-14057 Berlin</h6>
                            </div>
                        </div>

                        <div class="single-contact-info d-flex align-items-center">
                            <div class="icon mr-15">
                                <i class="fas fa-home" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <p>Web:</p>
                                <h6><a href="https://www.world-parliament.org" target="_blank">www.world-parliament.org</a></h6>
                            </div>
                        </div>

                        <div class="single-contact-info d-flex align-items-center">
                            <div class="icon mr-15">
                                <i class="fas fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <p>Email:</p>
                                <h6><a href="mailto:team@world-parliament.org">team@world-parliament.org</a></h6>
                            </div>
                        </div>

                        <div class="single-contact-info d-flex align-items-center">
                            <div class="icon mr-15">
                                <i class="fas fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <p>Phone:</p>
                                <h6>(+49) 0177-2853738</h6>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <!-- ##### Delegation Area End ##### -->
</div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
