{% extends 'base.html.twig' %}

{% block body %}

    {{ include ('Widget/_breadcrumb.html.twig', {title: 'Disclaimer', background: asset('/assets/img/header/generalassembly_large.jpg')}, with_context = false) }}

    {{ apy_breadcrumb_trail_render() }}

    {{ include ('Widget/_flashes.html.twig', {flashes: app.flashes}, with_context = false) }}

    <div class="wpe-content-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="default-content bg-white mb-30 p-30 box-shadow">
                    <!-- Section Title -->

                    <div class="section-heading">
                        <h5>Terms and Conditions for the Beta Test of the World Parliament Experiment</h5>
                    </div>

                    <p>
                        By participating this website, you acknowledge that you have read, understood, and accepted the following terms and conditions.
                    </p>
                    <p>1. In no event shall World Parliament Experiment e.V. and Democracy Without Borders e.V. or their suppliers be liable for any damages whatsoever arising out of the use of or inability to use the World Parliament Experiment.</p>
                    <p>2. World Parliament Experiment e.V. can terminate the Beta Test at any time.</p>
                    <p>3. You acknowledge and agree that by participating in the Beta Test or by using the Beta Software World Parliament Experiment, World Parliament Experiment e.V. and Democracy Without Borders e.V. may receive certain information about you including personally identifiable information, and you hereby consent to World Parliament Experiment e.V.’s and Democracy Without Borders e.V.’s collection, use and disclosure of such information.</p>
                    <p>4. If you have questions please write an email to: team@world-parliament.org</p>
                </div>

            </div>
        </div>
    </div>

    <!-- ##### Delegation Area End ##### -->
</div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
