{% extends 'base.html.twig' %}

{% block body %}

    <!-- ##### Hero Area Start ##### -->

    {{ include ('/Widget/hero.html.twig', {votes: top}, with_context = false) }}
    {{ include ('Widget/_flashes-danger.html.twig', {flashes: app.flashes}, with_context = false) }}


    <!-- ##### Hero Area End ##### -->

    <!-- ##### Mag Posts Area Start ##### -->
    <section class="mag-posts-area d-flex flex-wrap">

        <!-- >>>>>>>>>>>>>>>>>>>>
         Post Left Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->
        <div class="post-sidebar-area left-sidebar m-t-30 m-b-30 bg-white box-shadow">
            <!-- Sidebar Widget -->
            <div class="single-sidebar-widget p-30">
               {{ render(controller('AppBundle\\Controller\\WidgetController::MostPopularAction')) }}
            </div>
{#              <div class="single-sidebar-widget p-30">#}
{#                {{ render(controller('AppBundle:Widget:MostCommentedInitiatives')) }}#}
{#            </div>#}
            <div class="single-sidebar-widget p-30">
                {{ render(controller('AppBundle\\Controller\\WidgetController::MostViewsAction')) }}
            </div>
            <div class="single-sidebar-widget p-30">
                {{ render(controller('AppBundle\\Controller\\WidgetController::MostCommentsAction')) }}
            </div>
            <div class="single-sidebar-widget p-30">
                {{ render(controller('AppBundle\\Controller\\WidgetController::mostDelegationsAction')) }}
            </div>
            <div class="single-sidebar-widget p-30">
                {{ render(controller('AppBundle\\Controller\\WidgetController::MostInitiativesAction')) }}
            </div>


        </div>

        <!-- >>>>>>>>>>>>>>>>>>>>
             Main Posts Area
        <<<<<<<<<<<<<<<<<<<<< -->

        <div class="mag-posts-content m-t-30 m-b-30 p-30 box-shadow">
            <div class="feature-video-posts m-b-30">
                <!-- Section Title -->
                <div class="section-heading">
                    <h5>A global polity for the citizens of the world</h5>
                </div>
                <div class="post-content">
                    <p>The World Parliament Experiment (WPE) is a <b>positive vision</b> of a <b>fully democratic world</b>, in which everybody can take part and have a say. 
                    
                    <p><b>Global, digital, democratic.</b> </p>
                </div>
            </div>
            

           
            <!-- Feature Video Posts Area -->
            <div class="feature-video-posts m-b-30">
                <div class="section-heading">
                    <h5>Why do we need it?</h5>
                </div>
                  <p><b>War is not inevitable. </b> It is the result of the current political division of the world.
                  <p><b>Tyranny and injustice are not inevitable. </b> Rule of law is still not a reality for many people on earth. Tyrants are allowed to hide behind national sovereignty.
                  <p><b>Environmental destruction is not inevitable.</b> Our environment is a global public good. We will not succeed in protecting it by local legislation and covenants of goodwill only. 
                  <p><b>Poverty is not inevitable.</b> Global economic activity needs global standards and governance. Only in a global society of free citizens can the true potential of humankind be fulfilled.
                <br />
                <div class="section-heading">
                    <h5>Global Democracy is possible, if <u>YOU</u> take part in it!</h5>
                </div>
                    <p>The WPE allows you to create your own political proposals, both on the global and national level. You can also vote on real-world political initiatives.</p>         
                    <p>The WPE voting results will be visible to decision-making bodies both on the national and supra-national level. We aim to be a real political factor. The more people participate, the more powerful the voice of the WPE will become.</p>
                    <p>To start creating proposals, vote, discuss or be elected, <a href="{{ path("login") }}"> login</a> or create a <a href="{{ path("app_register") }}"> global citizen user account</a>. For detailed instructions and further information, please visit the <a href="{{ path("faq") }}">FAQ section</a>.</p>
                <br />
                <blockquote>
                    <h6 class="quote-text">“It is rather for us to be here dedicated to the great task remaining before us [...] that government of the people, by the people, for the people, shall not perish from the earth.”</h6>
                    <h6 class="quote-name">ABRAHAM LINCOLN</h6>
                </blockquote>
                <br />

            </div>
        </div>

        <!-- >>>>>>>>>>>>>>>>>>>>
        Post Right Sidebar Area
        <<<<<<<<<<<<<<<<<<<<< -->

        <div class="post-sidebar-area right-sidebar m-t-30 m-b-30 box-shadow">
            <div class="single-sidebar-widget p-30">
                {{ render(controller('AppBundle\\Controller\\WidgetController::CategoriesOverviewAction', { 'type': 'future' })) }}
            </div>
            <div class="single-sidebar-widget p-30">
                {{ render(controller('AppBundle\\Controller\\WidgetController::mostCitizensByCountryAction')) }}
            </div>
        </div> 

    </section>
    <!-- ##### Mag Posts Area End ##### -->

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
