{% extends "base.html.twig" %}

{% block body %}

    {{ include ('Widget/_breadcrumb.html.twig', {title: 'Search', background: asset('/assets/img/header/initiative_large.jpg')}, with_context = false) }}

    {{ apy_breadcrumb_trail_render() }}

    {{ include ('Widget/_flashes.html.twig', {flashes: app.flashes}, with_context = false) }}

    <div class="wpe-content-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="default-content bg-white p-30 mb-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>{{ 'quicksearch.page_title'|trans }}</h5>
                        </div>
                        {% if token_error %}
                            <p class="alert alert-danger">{{ 'quicksearch.token_error'|trans }}</p>
                        {% endif %}
                        {{ form_start(form) }}
                        <input type="hidden" name="search_token" id="topToken" value="{{ csrf_token('top-search') }}">

                        {{ form_row(form.query)}}

                        <button type="submit" class="btn btn-primary" formnovalidate><i class="fa fa-save"></i> {{ 'quicksearch.button.submit'|trans }} </button>
                        {{ form_end(form) }}
                        <br>

                        {% if valid %}
                            {% if  initiatives|length == 0%}
                            <p class="alert alert-info">{{ 'quicksearch.no_matches'|trans }}</p>
                            {% else %}
                            <table id="initiatives" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>type</th>
                                        <th>category</th>
                                        <th>name</th>
                                        <th>user</th>
                                        <th>published</th>
                                    </tr>
                                </thead>

                                <tbody>
                                {% for initiative in initiatives %}
                                    <tr>
                                        <td>{{ initiative.typeName }}</td>
                                        <td>{{ initiative.category.name }}</td>
                                        <td>
                                            <a href="{{ path('initiative_show', { 'id': initiative.id ,'slug': initiative.slug}) }}">{{ initiative.title }}</a>
                                        </td>
                                        <td><a href="{{ path('user_profile_show', { 'id':initiative.createdBy.id }) }}" class="author-name">{{ initiative.createdBy.username }}</a></td>
                                        <td>{{ initiative.publishedAt|date('d.m.Y H:i') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <th>type</th>
                                        <th>category</th>
                                        <th>name</th>
                                        <th>user</th>
                                        <th>published</th>
                                    </tr>
                                </tfoot>

                            </table>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('/assets/plugins/DataTables/datatables.min.css') }}"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('/assets/plugins/DataTables/datatables.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            const table = $('#initiatives').DataTable({
                responsive: false,
                autoWidth: true,
                "processing": true,
                "serverSide": false,
                "searching": true,
                "ordering": true,
                "order": [[0, "asc"]],
                deferRender: true,
            });
        });
    </script>

{% endblock %}