{% trans_default_domain 'FOSUserBundle' %}
{% extends "base.html.twig" %}

{% block body %}

    {{ include ('Widget/_breadcrumb.html.twig', {title: 'Registration', background: asset('assets/img/header/register_large.jpg')}, with_context = false) }}
    {{ include ('Widget/_flashes.html.twig', {flashes: app.flashes}, with_context = false) }}
    {{ include ('Widget/_errors.html.twig', {form: form}, with_context = false) }}

    <!-- ##### register Area Start ##### -->
    <div class="wpe-content-area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="register-content form-submit-content bg-white p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Create a new account!</h5>
                        </div>

                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register', 'novalidate': 'novalidate'}}) }}

                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.firstname) }}
                        {{ form_row(form.lastname) }}
                        {{ form_row(form.country) }}
                        {{ form_row(form.plainPassword) }}

                        <div class="form-group">
                            <p><b>Terms and Conditions for the Beta Test of the World Parliament Experiment</b></p>
                            <p>By selecting the “Accept” button, you acknowledge that you have read, understood, and accepted the following terms and conditions.<p>
                            <ol>
                                <li>1. In no event shall World Parliament Experiment e.V. and Democracy Without Borders e.V. or their suppliers be liable for any damages whatsoever arising out of the use of or inability to use the World Parliament Experiment.</li>
                                <li>2. World Parliament Experiment e.V. can terminate the Beta Test at any time.</li>
                                <li>3. You acknowledge and agree that by participating in the Beta Test or by using the Beta Software World Parliament Experiment, World Parliament Experiment e.V. and Democracy Without Borders e.V. may receive certain information about you including personally identifiable information, and you hereby consent to World Parliament Experiment e.V.’s and Democracy Without Borders e.V.’s collection, use and disclosure of such information.</li>
                                <li>4. If you have questions please write an email to: <a href="mailto:team@world-parliament.org">team@world-parliament.org</a></li>
                            </ol>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                {{ form_widget(form.termsAccepted) }}
                                {{ form_label(form.termsAccepted) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                {{ form_widget(form.consents) }}
                                {{ form_label(form.consents) }}
                            </div>
                        </div>
                        {{ form_row(form.recaptcha) }}

                        <div class="login-buttons">
                            <button type="submit" id="_submit" name="_submit"
                                    class="btn btn-success btn-block btn-lg">{{ 'registration.submit'|trans }}</button>
                        </div>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Login Area End ##### -->

{% endblock body %}
