
<table class="table table-striped table-bordered" style="width:100%">

    {% for initiative in initiatives %}
    {%  if initiative is not empty and loop.first == 1 %}
        {%  if initiative.state == 0  %}
            <h6>Draft </h6>
        {% endif %}
        {%  if initiative.state == 1  %}
            <h6>Active </h6>
        {% endif %}


        {% if initiative.type == 2  %}
            <h6>Past</h6>
        {% endif %}
        {% if initiative.type == 3  %}
            <h6>Program</h6>
        {% endif %}
        <thead>
        <tr>
            {% if initiative.state == 0 or initiative.state == 1  %}
                <th>Title</th>
                <th>Category</th>
                <th>Type</th>
                <th>Start</th>
                <th>Enddate</th>
            {% endif %}
            {% if initiative.type == 2 or initiative.type == 3  %}
                <th>Title</th>
                <th>Category</th>
                <th>Created at</th>
            {% endif %}
        </tr>
        </thead>
    {% endif %}
    <tbody>


    <tr>
        <td>
            {%  if is_granted('edit', initiative) and initiative.state == 0 %}
                <a href="{{ path('user_initiative_edit', { 'id': initiative.id, "slug": initiative.slug }) }}">{{ initiative.title }}</a>
            {% else %}
                <a href="{{ path('initiative_show', { 'id': initiative.id, "slug": initiative.slug }) }}">{{ initiative.title }}</a>
            {% endif %}
        </td>
        {% if  initiative.state == 1  %}

            <td>{{ initiative.category.name }}</td>
            <td>{{ initiative.typeName}}</td>
            <td>{{ initiative.publishedAt| date('m/d/Y') }}</td>
            {% if initiative.duration == 1 %}
                <td>{{ initiative.publishedAt|date_modify("+7 day")|date("m/d/Y") }}</td>
            {% else %}
                <td>{{ initiative.publishedAt|date_modify("+14 day")|date("m/d/Y") }}</td>
            {% endif %}
        {% endif %}

        {% if initiative.type == 2 or initiative.type == 3  %}
            <td>{{ initiative.category.name }}</td>

            <td>{{ initiative.createdAt| date('m/d/Y') }}</td>
        {% endif %}
    </tr>

    {% endfor %}

    </tbody>


</table>
