{% extends "base.html.twig" %}

{% block body %}

    {{ include ('Widget/_breadcrumb.html.twig', {title: 'Password Reset', background: asset('assets/img/header/register_large.jpg')}, with_context = false) }}

    <!-- ##### Breadcrumb Area End ##### -->

    {#{% if isset error %}#}
    {#<div class="mag-error-area pt-5">#}
    {#<div class="container">#}
    {#<div class="row justify-content-center">#}
    {#<div class="col-12 col-lg-6">#}
    {#<div class="error-content bg-danger p-30 box-shadow">#}
    {#{{ error.messageKey|trans(error.messageData, 'security') }}#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#{% endif %}#}

    <!-- ##### register Area Start ##### -->
    <div class="wpe-content-area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="register-content form-submit-content bg-white p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Reset your password!</h5>
                        </div>

                        {% trans_default_domain 'FOSUserBundle' %}

                        {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset margin-bottom-0' } }) }}
                        {{ form_row(form.plainPassword) }}

                        <div class="login-buttons">
                            <button type="submit" id="submit" name="submit" class="btn btn-success btn-block btn-lg">{{ 'resetting.reset.submit'|trans }}</button>
                        </div>

                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Login Area End ##### -->

{% endblock body %}
