
{% extends "base.html.twig" %}

{% block body %}

    <!-- ##### Breadcrumb Area Start ##### -->
    <section class="breadcrumb-area bg-img bg-overlay" style="background-image: url('https://via.placeholder.com/1920x850');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Your Category</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <div class="mag-login-area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-6">
                    <div class="login-content bg-white p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Your Category!</h5>
                        </div>

                        <dl class="dl-horizontal">
                            <dt>{{ 'category.show.id'|trans }}</dt>
                            <dd>{{ category.id }}</dd>
                            <dt>{{ 'category.show.name'|trans }}</dt>
                            <dd>{{ category.name }}</dd>
                            <dt>{{ 'category.show.description'|trans }}</dt>
                            <dd>{{ category.description }}</dd>

                        </dl>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Login Area End ##### -->

{% endblock body %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/plugins/DataTables/datatables.min.css') }}"/>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/plugins/DataTables/datatables.min.js') }}"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>
{% endblock %}