{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block body %}

    {{ include ('Widget/_breadcrumb.html.twig', {title: 'Change Password', background: '/assets/img/header/profile_large.jpg'}, with_context = false) }}
    {{ include ('Widget/_flashes.html.twig', {flashes: app.flashes}, with_context = false) }}
    {{ include ('Widget/_errors.html.twig', {form: form}, with_context = false) }}

    <!-- ##### Login Area Start ##### -->
    <div class="wpe-content-area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content bg-white p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Changing Your Password!</h5>
                        </div>

                        {{ form_start(form, { 'action': path('app_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                        {{ form_widget(form) }}
                        <div>
                            <button type="submit" class="btn btn-block btn-lg btn-primary" formnovalidate><i class="fa fa-save"></i> {{ 'change_password.submit'|trans }} </button>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Login Area End ##### -->

{% endblock body %}
