{% extends "base.html.twig" %}

{% block body %}

    {{ include ('Widget/_breadcrumb.html.twig', {title: 'Password Request', background: asset('assets/img/header/register_large.jpg')}, with_context = false) }}

    {% if error %}
        <div class="mag-error-area pt-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6">
                        <div class="error-content bg-danger p-30 box-shadow">
                            <span class="form-error-icon badge badge-danger text-uppercase">{{ 'Error'|trans({}, 'validators') }}</span> <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- ##### register Area Start ##### -->
    <div class="mag-login-area py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="register-content form-submit-content bg-white p-30 box-shadow">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h5>Request a new password!</h5>
                        </div>

                        {% trans_default_domain 'FOSUserBundle' %}
                        {% for flashError in app.flashes('error') %}
                            <div class="alert alert-danger">{{ flashError }}</div>
                        {% endfor %}

                        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request margin-bottom-0">
                            <div class="form-group m-b-20">
                                <input type="text" id="username" name="username" required="required" class="form-control input-lg" placeholder="{{ 'resetting.request.username'|trans }}" />
                            </div>
                            <div class="login-buttons">
                                <button type="submit" id="_submit" name="_submit" class="btn btn-success btn-block btn-lg">{{ 'resetting.request.submit'|trans }}</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Login Area End ##### -->

{% endblock body %}

